body {
    margin: 0;
    /* background-color: rgb(243 243 243); */
    background-image: url("page-three.png");
    background-size: cover;
    /* text-align: center; */
    /* color:#FAE99F; */
    color:#38453B; 
}

.message-page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    margin: 225px 10px 0px 20px;
    /* border-radius: 0.2em; */
    /* box-shadow: 6px 7px 7px 0px rgb(193 193 193); */
    height: 400px;
}

.message-text {
    margin: 1em;
    text-align: center;
}

.paragraph{
    margin-block-start: 0px;
    margin-block-end: 13px;
}

/* h1{
    color:#000000;
} */


.blue-red-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 1em;
}

.buttons {
    margin: 0 65px;
}

#blue_button {
    background-color: blue;
    color: rgb(255 255 255);
    border-radius: 0.8em;
}

#red_button {
    background-color: crimson;
    color: rgb(255 255 255);
    border-radius: 0.8em;
}



















/* html,
body {
    background-color: white;
    font-family:'Times New Roman', Times, serif;

    height:844px;
    width: 390px;
}

.message-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-board{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.8em;
    background-color: rgb(0, 0, 0);
    height:844px;
    width: 390px;
    overflow: auto;
}

button {
    font-size: 30px;
    height: 2.5em;
    width: 5em;
    border: 1px solid;
    border-radius: 0.8em;
    color: rgb(255 255 255);
    background-color: #252936;
    box-shadow: 8px 10px 1px rgb(240 240 129);
}
 */

/* @media (max-width: 800px) {
    .sub-container {
        width: 75%;
    }
} */