html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

canvas {
    /* background-color: rgb(208, 21, 21); */
    /* background-image: url("stripe-texture.jpeg");
    background-repeat: round; */
    display: block;
  }

.text-message{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 614px;
  left: 21px;
}

.Text-h{
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 28px;
}
.Text-p{
    font-size: 15px;
    margin-block-start: 0;
    margin-block-end: -7px;

    /* color: rgb(208, 21, 21); */
}